{% extends 'overbase.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% block contenido %}
<style type="text/css">html { overflow-x:hidden; }</style> 

<div class="row">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <div class="description">
                        <p>
                            <strong>Ingrese su correo electrónico para recibir instrucciones, acerca de como recuperar su contraseña.</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 form-box" style="color:white;">
               
                    <div class="form-top">
                        <div class="form-top-left" align="center">
                            <h3>Recuperar Contraseña</h3>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" method="post" class="login-form">
                        {% csrf_token %}
                                {{ form | bootstrap }}
                            <button type="submit" class="btn btn-warning" style="background: #e1ad1c;color:black;border-color: #e1ad1c;">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}
