{% extends "overbase.html" %}

{% block title %}Recuperación de Contraseña{% endblock %}

{% block contenido %}
<style type="text/css">html { overflow-x:hidden; }</style>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text" style="margin-top:20px;">
        <h1><strong>Hecho! Revisa tu correo</strong> </h1>
        <div class="description">
            <p>
                <strong>Hemos enviado las instrucciones para recuperar tu contraseña al correo que ingresaste.</strong> <a class="btn "  role="button" href="/" style="background: #e1ad1c;color:black;border-color: #e1ad1c;">Volver</a>
                
            </p>
        </div>
    </div>
</div>

{% endblock %}