{% extends "overbase.html" %}

{% block title %}Recuperación de Contraseña{% endblock %}

{% block contenido %}
<div class="row" style="margin:20px">
    <div class="col-md-6 col-md-offset-3" >
        <div class="alert alert-dismissable alert-success">
            <strong>Hecho!</strong> Tu contraseña ha sido reestrablecida. Tu podras ingresar ahora! 
            <p align="right"><a class="btn btn-primary "  role="button" href="/login">Ingresar</a></p>
        </div>
    
    </div>
</div>
{% endblock %}