{% extends 'website/base.html'%}
{% block contenido %}
<div class="row">
	<div class="col-lg-12" style="padding:50px;padding-left:100px;padding-right:100px;">
		<h3>Contáctanos</h3>
		<hr>
<p style="font-size:16px;color:black;">
Si tienes alguna duda, quieres decirnos lo que piensas o quieres darnos una idea, por favor mándanos un correo electrónico a esta dirección <strong>
<a href="mailto:info@effexcard.com" style="color:#23282c;">info@effexcard.com</a></strong>
</p>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


	{% endblock %}

