{% extends 'website/base.html'%}
{% block contenido %}
<div class="row">
	<div class="col-lg-12" style="padding:50px;padding-left:100px;padding-right:100px;">
		<h3>Que puede hacer EFFEXCARD por mi?</h3>
		<hr>
<p style="font-size:16px;color:black;">
Hoy en día el comercio por Internet no puede ser puesto lado, se volvió no solo una comodidad, sino
una necesidad para todos los consumidores en el mundo. El volumen de ventas en 2015 realizadas únicamente de negocios directamente a consumidores es de 1,700,000,000,000 $dólares, si 1.7 trillones de dólares, y se espera que alcance 2.4 trillones de dólares dentro de 2 años. Eso es más de 2.3 millones de dólares cada 30 segundos.
</p>
<p style="font-size:16px;color:black;">
	El problema es que en muchos países no pueden participar de este sector tan grande, porque no pueden vender productos a clientes que no tienen acceso a dinero electrónico. Bueno, EFFEXCARD soluciona el problema. Teniendo un objetivo único, y esa es la de hacer lo más accesible posible a TODOS a que comprar por Internet.
</p>
<h3>Ya tengo un website</h3>
<hr>
<p style="font-size:16px;color:black;">
Si ya cuentas con un website y simplemente no tienes forma de recibir dinero de tus clientes, un botón virtual será puesto en tu website, por medio del cual tus clientes podrán instantáneamente concluir la compra, e instantáneamente el saldo de tu cuenta EFFEXCARD será acreditada con el monto. La comisión que EFFEXCARD cobra por cada compra realizada es de solo 3% siendo una de las tarifas más competitivas del mercado. Regístrate y pide tu botón ahora.</p>
<h3>Necesito un sitio web</h3>
<hr>
<p style="font-size:16px;color:black;">Si necesitas una página web, Nosotros te haremos una, total y 100% a gusto tuyo. Puede ser simple, puede ser complejo, no importa, tenemos todo lo que necesitas para empezar, y con costos muy
convenientes.</p>
<p  style="font-size:16px;color:black;">Contáctate con nosotros y empieza a conquistar el mundo virtual YA!!!</p>
<p align="center" style="margin-top:20px;"><a href="/signup" class="btn btn-common animated fadeInUp animation-delay-10">Regístrate</a></p>
	</div>
</div>

	{% endblock %}

