{% extends 'website/base.html'%}
{% block contenido %}
<div class="row">
	<div class="col-lg-12" style="padding:50px;padding-left:100px;padding-right:100px;">
		<h3>Que es EFFEXCARD?
		<hr>
		</h3>
<p style="font-size:16px;color:black;">
EFFEXCARD es una empresa que permite a TODOS realizar compras de forma simple y segura por Internet. Solo necesitamos tu correo electrónico y ya eres parte de nosotros.
</p>

<h3>Como puedo comprar?</h3>
<hr>
<p style="font-size:16px;color:black;">
Solo debes ir a tu página web favorita, y después de elegir lo que comprarás debes presionar el botón de compra con Effexcard, insertar tu contraseña y NADA MÁS. Compra realizada.</p>
<h3>Como puedo aumentar dinero a mi cuenta? NO TIENES TARJETA DE CREDITO??</h3>
<hr>
<p style="font-size:16px;color:black;">NO HAY PROBLEMA… Para añadir dinero a tu Effexcard, solo tienes que realizar un depósito a la cuenta bancaria de la empresa, y desde tu cuenta Effexcard mandar la foto del comprobante.</p>
<p align="center"><a href="/signup" class="btn btn-common animated fadeInUp animation-delay-10">Regístrate</a></p>

	</div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
