{% extends 'overbase.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% block contenido %}
<style type="text/css">html { overflow-x:hidden; }</style>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text" style="margin-top:20px;">
        <h1><strong>Gracias por confirmar su cuenta!</strong> </h1>
        <div class="description">
            <p>
                <strong>{{info}}</strong>
            <a href='/login/?next={{ redirect_to }}' class="btn btn-success">Ingresar</a> 
            </p>
        </div>
    </div>
</div>
{% endblock %}
