<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static from staticfiles %}
    <title>EffexCard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static "webapp/bootstrap/css/bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "webapp/plugins/font-awesome/css/font-awesome.min.css"%}">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static "webapp/dist/css/AdminLTE.css"%} ">
    <link rel="stylesheet" href="{% static "webapp/dist/css/skins/_all-skins.css"%}">
    <link rel="stylesheet" href="{% static "webapp/plugins/iCheck/flat/blue.css"%}">
    <link rel="stylesheet" href="{% static "webapp/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css"%}">
    <script src="{% static "webapp/plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
    <link rel="shortcut icon" href="http://icons.iconseeker.com/png/fullsize/msn/online-1.png">
    {% block loadfiles %}
    {% load tags %}
    {% endblock %}  
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <a href="/home" class="logo">
          <span class="logo-mini"><b>Effex</b></span>
          <span class="logo-lg"><b><i class="fa fa-money"></i> EffexCard</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {% if request.user.perfil.foto %}
                    <img src="{{request.user.perfil.foto.url}}" class="user-image" alt="User Image">
                  {% else %}
                    <img src="/media/default.jpg" class="user-image" alt="User Image">
                  {% endif %}
                  
                  <span class="hidden-xs">{%if request.user.perfil.nombre%}
              {{ request.user.perfil.nombre}}
              {%else%}
              {{request.user.email|slice:":16"}}
              {%endif%}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    {% if request.user.perfil.foto %}
                    <img src="{{request.user.perfil.foto.url}}" class="img-circle" alt="User Image">
                  {% else %}
                    <img src="/media/default.jpg" class="img-circle" alt="User Image">
                  {% endif %}
                    <p>
                      {%if request.user.perfil.nombre %}
              <strong>{{ request.user.perfil.nombre }} </strong> <br>
              {{ request.user.email }}
              {%else%}
              {{request.user.email}}
              {%endif%} 
                    </p>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="/perfil" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="/logout" class="btn btn-default btn-flat">Salir</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image">
              {% if request.user.perfil.foto %}
                    <img src="{{request.user.perfil.foto.url}}" class="img-circle" alt="User Image">
                  {% else %}
                    <img src="/media/default.jpg" class="img-circle" alt="User Image">
                  {% endif %}
            </div>
            <div class="pull-left info">
              <p>{%if request.user.perfil.nombre  %}
              {{ request.user.perfil.nombre }} 
              {%else%}
              {{request.user.email|slice:":18"}}
              {%endif%}</p>
              <a><i class="fa fa-circle text-success"></i> En línea</a>
            </div>
          </div>
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- SECCION DEL MENU PRINCIPAL -->
          <ul class="sidebar-menu">
            <li class="header">MENU PRINCIPAL</li>
            <li
            {% if request.path == "/home/" %}
            class="active"
            {% endif %}
            ><a href="/home"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
            {% if not request.user|has_group:"Supervisores" %}
            <li
            {% if request.path == "/movimientos/" %}
            class="active"
            {% endif %}
            >
              <a href="/movimientos">
                <i class="fa fa-exchange"></i> <span>Movimientos</span></i>
              </a>
            </li>
            {% endif %}
            <li
            {% if request.path == "/compras/" %}
            class="active"
            {% endif %}
            >
              <a href="/compras">
                <i class="ion ion-bag"></i> <span>Compras</span></i>
              </a>
            </li>
            <li
            {% if request.path == "/depositos/" %}
            class="active"
            {% endif %}
            >
              <a href="/depositos">
                <i class="fa fa-money"></i> <span>Depositos</span></i>
              </a>
            </li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content-header" >
          <h1>
            {% block maintitulocuerpo %}
              <i class="fa fa-dashboard"></i> Dashboard  
            {% endblock %}
            <small>{% block secondtitulocuerpo %}
                {% endblock %}</small>
          </h1>
          <ol class="breadcrumb">
          <a class="btn btn-default hidden-xs hidden-sm" href="javascript:history.back();" type="button" style="float:right;"> <i class="fa fa-arrow-circle-left"></i> Volver</a>
          </ol> 
        </section>

        <section class="content">
        {% block contenido %}

        {% endblock %}
        </section>

      </div>
      <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versión</b> 1.0
    </div>
    <strong>Copyright © 2016 <a href="/webiste">EffexCard Team</a>.</strong>
  </footer>

    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static "webapp/bootstrap/js/bootstrap.min.js"%} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="{% static "webapp/plugins/daterangepicker/daterangepicker.js"%} "></script>
    <script src="{% static "webapp/plugins/datepicker/bootstrap-datepicker.js"%} "></script>
    <script src="{% static "webapp/plugins/slimScroll/jquery.slimscroll.min.js"%} "></script>
    <script src="{% static "webapp/plugins/fastclick/fastclick.min.js"%} "></script>
    <script src="{% static "webapp/dist/js/app.min.js"%} "></script>
    <script src="{% static "webapp/dist/js/demo.js"%} "></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script src="{% static "webapp/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"%} "></script>

    <script type="text/javascript">
    {% for area in areas_radiologia %}
      $('#a{{area.id}}').appendTo("body");
    {% endfor %}
    </script>

    {% block loadfilesbelow %}
    {% endblock %}
  </body>
</html>
