{% extends 'webapp/base.html' %}
{% load static from staticfiles %}
{% load tags %}
{% block loadfiles %}
  {% load bootstrap %}
    {{ form.media }}
{% endblock %}
{% block maintitulocuerpo %}<i class="fa fa-money"></i> Detalle de Deposito {% endblock %}
{% block secondtitulocuerpo %}{% endblock %}
{% block contenido %}
<section class="invoice">
  <!-- title row -->
  <div class="row">
    
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> EffexCard S.A. {% if deposito.estado == "Aceptado" %}
                <span class="label label-success">Aceptado</span></td>
                {% elif deposito.estado == "Rechazado" %}
                <span class="label label-danger">Rechazado</span></td>
                {% elif deposito.estado == "Pendiente" %}
                <span class="label label-warning">Pendiente</span></td>
                {% else %}
                <span class="label label-default">Cancelado</span></td>
                {% endif %}
        <small class="pull-right">Fecha: {{deposito.fecha}}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info" style="margin-bottom:30px;">
    <div class="col-sm-4 invoice-col">
      <b>Fecha:</b> {{deposito.fecha}}<br>
      <b>Adjunto:</b> <a data-toggle="tooltip" data-placement="bottom" data-original-title="Ver adjunto" href="{{deposito.adjunto.url}}" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-file"></i> Ver deposito</a>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <b>Cliente:</b> {{deposito.usuario.perfil.nombre}} {{deposito.usuario.perfil.apellido}}<br>
      <b>Correo electrónico:</b> {{deposito.usuario.email}}<br>
      <b>Dirección:</b> {% if deposito.usuario.perfil.direccion%}
        {{deposito.usuario.perfil.direccion}}
        {% else %}
        Ninguno
        {% endif %}
      <br>
      <b>Teléfono:</b> {% if deposito.usuario.perfil.telefono%}
        {{deposito.usuario.perfil.telefono}}
        {% else %}
        Ninguno
        {% endif %}
      <br>
      <b>Celular:</b> {% if deposito.usuario.perfil.celular%}
        {{deposito.usuario.perfil.celular}}
        {% else %}
        Ninguno
        {% endif %}
      <br>  
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <b>ID Deposito #{{deposito.id}}</b><br>
      <br>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->


  <div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">
      <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        Al momento de realizar el deposito en las cuentas de EffexCard, revise bien el detalle del deposito. Este debe estar a nombre de EffexCard S.A.
      </p>
    </div>
    <!-- /.col -->
    <div class="col-xs-6">
      <div class="table-responsive">
        <table class="table">
          <tbody>
          <tr>
            <th style="width:50%">Total:</th>
            <td>{{deposito.monto}} Bs</td>
          </tr>
        </tbody></table>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- this row will not appear when printing -->
  <div class="row no-print">
    <div class="col-xs-12">
      {% if request.user|has_group:"Supervisores" and deposito.estado == "Pendiente" %}
      <a href="/actualizar/deposito/3/{{deposito.id}}/?next={{request.path}}" class="btn btn-success pull-right" style="margin-left:5px;"><i class="fa fa-check"></i> Confirmar
      </a> 
      <a href="/actualizar/deposito/4/{{deposito.id}}/?next={{request.path}}" class="btn btn-danger pull-right"><i class="fa fa-times"></i> Rechazar
      </a> 
      {% endif %}
        
    </div>
  </div>
</section>
{% endblock %}
{% block  loadfilesbelow %}
 <!-- DataTables -->
    <script src="{% static "siga/plugins/datatables/jquery.dataTables.min.js"%}"></script>
    <script src="{% static "siga/plugins/datatables/dataTables.bootstrap.min.js"%}"></script>
    <script>
      $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function() {
        $('#tabla').dataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por pagina",
            "zeroRecords": "No se encontraron registros",
            "info": "Mostrando pagina _PAGE_ de _PAGES_",
            "infoEmpty": "Ningun registro disponible",
            "sLoadingRecords": "Cargando...",
            "sSearch":         "Buscar: ",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":     "Último",
                "sNext":     "Siguiente",
                "sPrevious": "Anterior"
    },
        },
        "order": [[ 0, "asc" ]],
    });
    });
    </script>
{% endblock%}