<!--VISTA DE ERROR AL INTENTAR INGRESAR A LA APLICACION -->
{% extends 'webapp/base.html' %}
{% load static from staticfiles %}
{% block loadfiles %}
{% endblock %}
{% block maintitulocuerpo %}{% endblock %}
{% block secondtitulocuerpo %}{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-lg-2">
  </div>
  <!-- /.col-lg-12 -->
  <div class="col-lg-8">
      <div class="jumbotron">
          <h1><i class="fa fa-warning"></i> Advertencia</h1>
          <p>Acceso no autorizado. <a href="/home" class="btn btn-primary btn-sm" role="button"><i class="fa fa-reply"></i> Volver</a></p>
      </div>
  </div>
  <div class="col-lg-2">
  </div>
  <!-- /.col-lg-12 -->
</div>
{% endblock %}
{% block loadfilesbelow %}
{% endblock %}